In [2]:
import pandas as pd
df=pd.read_clipboard()
df

   Délégation       Type    de travaux  Count  of  Désignation
0        DRCE         51  None    None    NaN NaN          NaN
1          EE    COMPACT    13    None    NaN NaN          NaN
2          EE  Modulaire     2    None    NaN NaN          NaN
3    KFW/Pose       Pose   ITI      12    NaN NaN          NaN
4        Pose        ITI    24    None    NaN NaN          NaN
5        DRCO         32  None    None    NaN NaN          NaN
6          EE    COMPACT    17    None    NaN NaN          NaN
7          EE  Modulaire     5    None    NaN NaN          NaN
8    KFW/Pose        ITI     à   poser    2.0 NaN          NaN
9        Pose        ITI     à   poser    8.0 NaN          NaN
10        DRN         75  None    None    NaN NaN          NaN
11         EE    COMPACT    24    None    NaN NaN          NaN
12         EE  Modulaire    11    None    NaN NaN          NaN
13   KFW/Pose       Pose   ITI      17    NaN NaN          NaN
14       Pose       Pose   ITI      23    NaN NaN          NaN
15      Grand      Total   158    None    NaN NaN          NaN

In [1]:
import os

In [2]:
os.getcwd()  #pour afficher le repertoire de travail

'C:\\Users\\dell'

In [7]:
os.listdir()  #pour lister les dossiers et fichiers dans le réperoire de travail

['.android',
 '.bash_history',
 '.cache',
 '.conda',
 '.condarc',
 '.deepface',
 '.freemind',
 '.idlerc',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.keras',
 '.matplotlib',
 '.pylint.d',
 '.spyder-py3',
 '.vscode',
 '01-Keras-CNN-MNIST.ipynb',
 '01_Perceptrons.ipynb',
 '03-Deep-Learning-Images-Réalistes-Malaria.ipynb',
 '04-DL-CV-Exercice.ipynb',
 '04-Solutions-Exercice-Projet-Keras.ipynb',
 '05-DL-CV-Solution-Exercice.ipynb',
 '05-Tensorboard.ipynb',
 '10 - Pandas - cours.ipynb',
 '10 - Pandas - exercices.ipynb',
 '11 - data viz - cours.ipynb',
 '12 - les API - cours.ipynb',
 '12 - les API - exercices.ipynb',
 '13 - Maitriser le web scraping - cours.ipynb',
 '13 - Maitriser le web scraping - exercices.ipynb',
 '14 - Requêter une base SQL - cours.ipynb',
 '14 - Requêter une base SQL - exercices.ipynb',
 '15 - statistique descriptive - cours.ipynb',
 '16 - machine learning - cours.ipynb',
 '3D Objects',
 'anaconda3',
 'API&Web_scrapping.ipynb',
 'app.log',
 'AppData',
 'Application Data',
 'arbre_decision.dot',
 'arbre_decision.png',
 'Classification_course.ipynb',
 'Contacts',
 'Cookies',
 'cours_classification_RNA.ipynb',
 'database.db',
 'degre_3_solver.ipynb',
 'Demarche Data Science-Copy1.ipynb',
 'Demarche Data Science.ipynb',
 'Desktop',
 'detection.ipynb',
 'dezip_Mboro.ipynb',
 'doc.csv.txt',
 'Documents',
 'Dossier_EnvironnementV',
 'Downloads',
 'emotion_class.ipynb',
 'emotion_detection.ipynb',
 'Emotion_little_vgg.h5',
 'Equation.ipynb',
 'ESCO.ipynb',
 'ESCOSARL.ipynb',
 'Exercice Pandas.ipynb',
 'face_trained.yml',
 'Favorites',
 'features.npy',
 'fonctions_activation.ipynb',
 'foo.png',
 'formation pythion linkedine.ipynb',
 'Formation_linkediine.ipynb',
 'formation_stat_inferentielle.ipynb',
 'Formation_stat_openclassroom.ipynb',
 'FR_2418_06_01.ipynb',
 'FR_2418_06_02.ipynb',
 'IntelGraphicsProfiles',
 'Kaolack_Kaffrine_ER.ipynb',
 'Keras_imreal.ipynb',
 'labels.npy',
 'Links',
 'Local Settings',
 'Maitrise_Jupyter',
 'Menu Démarrer',
 'Mes documents',
 'messi.png',
 'MicrosoftEdgeBackups',
 'model.ipynb',
 'Modèles',
 'Mon_Env',
 'Music',
 'Musique',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{53b39e87-18c4-11ea-a811-000d3aa4692b}.TxR.0.regtrans-ms',
 'NTUSER.DAT{53b39e87-18c4-11ea-a811-000d3aa4692b}.TxR.1.regtrans-ms',
 'NTUSER.DAT{53b39e87-18c4-11ea-a811-000d3aa4692b}.TxR.2.regtrans-ms',
 'NTUSER.DAT{53b39e87-18c4-11ea-a811-000d3aa4692b}.TxR.blf',
 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf',
 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'OneDrive - Senelec',
 'OpenCV_course.ipynb',
 'Pandas_Numpy.ipynb',
 'Pertes_Senelec.ipynb',
 'Pictures',
 'Projet-Keras.ipynb',
 'Projet_ANN.ipynb',
 'PycharmProjects',
 'Recent',
 'reponse_projetAPI&WebScaping.ipynb',
 'RNN_cours.ipynb',
 'RNN_exo.ipynb',
 'Saved Games',
 'seaborn-data',
 'Searches',
 'seismic-bumps.csv',
 'SendTo',
 'Test_mao',
 'Titanic.csv',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Videos',
 "Voisinage d'impression",
 'Voisinage réseau']

In [9]:
os.chdir()  #pour changer de repertoire

NotADirectoryError: [WinError 267] Nom de répertoire non valide: 'C:\\\\Users\\\\dell\\\\detection.ipynb'

# JSON: format utilisé pour l'échange de données entre application: ne depend d'aucun langage

In [10]:
D_pays = {'Pays1':{'Code_pays':'AT',
                  'Nom_pays': 'Autriche',
                  'Langue': 'Allemand'},
          'Pays2':{'Code_pays':'FR',
                  'Nom_pays': 'France',
                  'Langue': 'Français'},
          'Pays3':{'Code_pays':'MA',
                  'Nom_pays': 'Maroc',
                  'Langue': 'Arabe'}
         }

In [11]:
#convertir le dictionnaire au format json
import json
json.dumps(D_pays)

'{"Pays1": {"Code_pays": "AT", "Nom_pays": "Autriche", "Langue": "Allemand"}, "Pays2": {"Code_pays": "FR", "Nom_pays": "France", "Langue": "Fran\\u00e7ais"}, "Pays3": {"Code_pays": "MA", "Nom_pays": "Maroc", "Langue": "Arabe"}}'

In [12]:
#enregistrer dans un fichier
with open('pays.json', 'w') as f:
    f.write(json.dumps(D_pays))

In [13]:
#charger le contenu dans une dictionnaire
with open('pays.json', 'r') as f:
    pays=json.load(f)

In [14]:
pays

{'Pays1': {'Code_pays': 'AT', 'Nom_pays': 'Autriche', 'Langue': 'Allemand'},
 'Pays2': {'Code_pays': 'FR', 'Nom_pays': 'France', 'Langue': 'Français'},
 'Pays3': {'Code_pays': 'MA', 'Nom_pays': 'Maroc', 'Langue': 'Arabe'}}

In [15]:
type(pays)

dict

In [16]:
print(json.dumps(pays, sort_keys= True))

{"Pays1": {"Code_pays": "AT", "Langue": "Allemand", "Nom_pays": "Autriche"}, "Pays2": {"Code_pays": "FR", "Langue": "Fran\u00e7ais", "Nom_pays": "France"}, "Pays3": {"Code_pays": "MA", "Langue": "Arabe", "Nom_pays": "Maroc"}}

In [17]:
#interroger une base de données SQL server
import numpy as np
import pandas as pd
import pyodbc

In [ ]:
conn = pyodbc.connect()